wifi:
  ssid: "my-ssid"
  password: "my-pass"
  domain: .my.domain.net

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "my-device-ssid"
    password: "some-other-pass"

ota:
  password: "password-for-ota-uploads"


api:
  password: "password-for-hassr"
